* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #111;
  overflow: hidden;
}
.acc {
  position: absolute;
  top: 33%;
  left: 44%;
  color: aqua;
  font-size: 30px;
  text-align: center;
}

span {
  position: absolute;
  pointer-events: none;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  animation: fadeInOut 3s linear infinite;
}

@keyframes fadeInOut {
  0%,100% {
    opacity: 0;
  }
  20%,80% {
    opacity: 1;
    top: 0px;
  }
}

span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('aaa.svg');
  animation: moveShape 1s linear infinite;
}

@keyframes moveShape {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translate(300px) rotate(360px);
  }
}
/* }
span {
  position: absolute;
  pointer-events: none;
  filter: drop-shadow(0 0 22px rgba(0, 0, 0, 0.5));
  animation: fadeInOut 2.5s linear infinite;
  width: 100%;
  height: 100%;
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0.1;
    top: -286px;
  }
}

span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  top: -30px;
  left: -3px;
  background-image: url("assets/dropHeart.svg");
  animation: moveShape 1s linear infinite;
}
@keyframes moveShape {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translate(300px) rotate(360px);
  }
} */
